body{
    padding: 40px;
    text-align: center;

}

.header-content{
    max-width: 450px;
    margin: 0 auto;

}

h1{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

p{
    font-size: 32px;
    color: #555;
    margin: 0 auto 20px;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    margin-bottom: 30px;
}

.gallery{
    max-width: 900px;
    margin: 0 auto;

}

.gallery img{
    width: 22%;
    margin: 0 1% 12px;
    height: 160px;
    border-radius: 12px;
    float: left;
}
